body{
    font-family:  Arial, Helvetica, sans-serif;
    background-color:white;
 }
 
 .navbar{
     font-size: 1.5rem;
     margin-top: 2%;
 }

 #title{
     font-size: 2.5rem;
     text-align: center;
     margin-top: 2%;
 }

 #move{
     padding-right: 1%;
 }

 .choose{
     margin-top: 3%;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
 }